%nav#sidebar
  %ul
    %li= link_to 'Inicio', '/introduccion.html'
    %li
      Nuestros servicios
      %ul
        %li= link_to "Servicio Accidentes Viales", '/servicios/accidentes.html'
        %li= link_to "Servicio Daños Materiales", '/servicios/danios_materiales.html'
        %li= link_to "Servicio Seguros", '/servicios/seguros.html'
    %li= link_to 'Contacto', '/informacion/contacto.html'